<template>
<h1>Ayudantía deploy Vue</h1>
  <AddUser />
  <UserTable />
</template>

<script>
import UserTable from "./components/UserTable.vue";
import AddUser from "./components/AddUser.vue";
export default {
  components: { UserTable, AddUser },
};
</script>

<style></style>
